parameters:
    level: 8
    paths:
        - ../../src
        - ../../tests
    excludePaths:
        - ../../src/Bridge/ComposerOverloadClass
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - '#extends deprecated class Doctrine\\ORM\\Proxy\\ProxyFactory:#'
        - '#with deprecated interface Doctrine\\ORM\\Proxy\\Proxy#'
        # Remove deprecated errors to be compatible with Doctrine < 2.7
        - '#Call to deprecated method [A-Za-z]{1,}\(\) of class Doctrine\\ORM\\ORMException#'
        - '#Call to method [A-Za-z]{1,}\(\) of deprecated class Doctrine\\ORM\\ORMException#'
        - '#Call to deprecated method [A-Za-z]{1,}\(\) of class Doctrine\\ORM\\Configuration#'
        - '#Call to method createProxyDefinition\(\) of deprecated class Doctrine\\ORM\\Proxy\\ProxyFactory:#'
        - '#Class Steevanb\\DoctrineStats\\Doctrine\\DBAL\\Logger\\SqlLogger implements deprecated interface Doctrine\\DBAL\\Logging\\SQLLogger\:#'
        # I prefer use static instead of self
        - '#Unsafe usage of new static\(\)\.#'
        # I've tested the existence of the class with class_exists() but phpstan don't understand it
        - '#Call to static method getBacktraces\(\) on an unknown class DumpBacktrace\.#'
        # Wrong PHPDoc in Symfony code, this method exists
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children\(\)\.#'

includes:
    - /composer/vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - /composer/vendor/phpstan/phpstan-phpunit/rules.neon
    - /composer/vendor/phpstan/phpstan-strict-rules/rules.neon
    - /composer/vendor/spaze/phpstan-disallowed-calls/extension.neon
    - /composer/vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
    - /composer/vendor/spaze/phpstan-disallowed-calls/disallowed-execution-calls.neon
    - /composer/vendor/spaze/phpstan-disallowed-calls/disallowed-insecure-calls.neon
    - /composer/vendor/spaze/phpstan-disallowed-calls/disallowed-loose-calls.neon
rules:
    - Ergebnis\PHPStan\Rules\Classes\PHPUnit\Framework\TestCaseWithSuffixRule
    - Ergebnis\PHPStan\Rules\Expressions\NoErrorSuppressionRule
    - Ergebnis\PHPStan\Rules\Expressions\NoIssetRule
    - Ergebnis\PHPStan\Rules\Files\DeclareStrictTypesRule
